<html>
<head> <title>home
</title><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> </head>
<body>
<div class="jumbotron text-center">

<h2>Welcome to the Student Management</h2>
 
</div>
  



<div class="container">
   <div class="btn-group-vertical btn-group-centre">
		<a href="/add"><button type="button" class="btn btn-primary">Add Student data</button></a><br><br>
		<a href ="/view"><button type="button" class="btn btn-primary">List/Show Records</button></a><br><br>
		<a href="/update"><button type="button" class="btn btn-primary">Modify/Update Record</button></a><br><br>
		<a href="/delete"><button type="button" class="btn btn-primary">Delete Record</button></a><br><br>
  </div>
</div>

<div class="alert alert-success">
    {{msg}}
  </div>







</body>
</html>
