<html>
<head>
<title>Anmol Nagpal</title>
</head>
<body style="background-color:Ivory;">

<h1  style="background-color: #00ff00; text-align:center " id="C4">Anmol Nagpal </h1>


<img  src="https://media-exp1.licdn.com/dms/image/C4E03AQHCFhrKBPx9Dg/profile-displayphoto-shrink_200_200/0/1600449947948?e=1616630400&v=beta&t=gjdxb63DH8bmayJR88J0pg9XH0c0fy9t6ssV3oaQvU8" width="100" height="120" style="float:right"><br>


<a href="https://www.linkedin.com/in/anmolnagpal28/" target="_blank"><img src="G:\7th Sem\Nielit Training\html\linkedin.jpg" width="100" height="20">
This is my LinkedIn Profile </a>



<h3><mark>Objective </mark></h3>
<p ><pre> <p style ="  border: 2px solid powderblue;
  padding: 30px; margin: 30px";>  Seeking a competitive and challenging environment of growth, where I can serve the organization, meet personal and organizational goals and establish a career for myself</pre></p>


<h3>Education </h3>
<li><b>B.E (Electronics and Communication Engineering) | Chandigarh College of Engineering & Technology, Chandigarh</b><br>
<pre>    2017- Present<br>    8.21 CGPA (Till 6th Semester)</pre></li>
<li><b>Class XII | Government Model Senior Secondary School, Sector 35, Chandigarh</b><br><pre>   2015 - 2017<br>   Secured 81.6% in CBSE Board exams</li>
<li><b>Class X | Swami Ram Tirtha Public High School, Mohali</b><br><pre>   2006-2015<br>   Secured 9.4 CGPA in CBSE Board exams</pre></li>


<h3>TECHNICAL SKILLS </h3>
<li><b>Programming Languages:</b> C, Embedded C, MATLAB</li>
<li><b>Tools:</b> MS Word, MS Excel, MS Power Point</li>
<li><b>Development Tools: </b> MATLAB, UNITY 3D, PSPICE Schematics, Arduino IDE</li>


<h3>INTERNSHIPS / TRAININGS</h3>
<li><b>Fundamentals of Virtual Reality Summer Training | CDAC MOHALI</b><br><pre>    June 01, 2020 – June 26, 2020 <br>    Development of Games using Unity 3D based on Virtual Reality</pre></li>
<li><b>Internet of Things Summer Training | CDAC MOHALI</b><br><pre>    May 27, 2019 – July 5, 2019 <br>    Practical application of SimpleLink MSP432P401R LaunchPad, Wi-Fi IoT kit CC3200 LaunchPad</pre></li>

<a href="#C4">Jump to top</a>
</body>
</html>