<head>
  <title> Data Science </title>
</head>

<body background = 'https://s3.amazonaws.com/re-work-production/post_images/8/635623609913613076-global-internet-thinkstock/original.jpg?1446562686'>
  
  <h1 style="font-size:40px;color:lightblue;text-align:center;"> Login for Data Analysisss
    </h1>
  
  <form action = http://localhost:5000/login method = 'post'>
    <table style="font-size:20px;color:lightblue;font-family:courier;">
      
      <tr><td>Name &nbsp;</td><td><input type = "text" name = "usrname"></td></tr>
<tr><td> Password &nbsp;</td><td><input type = "password" name = "password"></td></tr>
      <tr><td><input type = "submit"></td></tr>
      
    </table>
  </form>
  
</body>